h1{
    color: brown;
    stroke: black;
    font-size: 25px;
    font-style: oblique;
    background-color: linen;
}

h2{
    background-color: antiquewhite;
    font-style: italic;
}

h3{
    background-color: rgb(255, 172, 71);
    color: navy;
    font-size: xx-large;
    stroke: black;
    border: 4px black;
}

img{
    flex: content;
    size: 100px;
    height: 250px;
    width: 250px;
    display: flex;
    border: 5px solid #ff0000;
}

body{
    background-color: wheat;
}

head{
    background-image: url(online-payment.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p{
    font-weight: 300px;
    border: 1px solid blue;
    word-spacing: 3px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

h5{
    background-color: chocolate;
    font-weight: 
}


h6{
    font-size: x-large;
    background-color: darkgoldenrod;
}

.populer-lm{
    color: rgb(0, 0, 82);
    display: flex;
    stroke: cadetblue;
    stroke-width: 1px;
    font-size: large;
}

.medinova-lm{
    color: rgb(0, 0, 82);
    display: flex;
    font-size: large;
    
    
}

.modern-lm{
color:rgb(0, 0, 82) ;
font-size: large;
}

.islam-lm{
    color: rgb(0, 0, 82);
    display: flex;
    font-size: large;
}

.isha-blood{
    font-size: large;
    background-color: rgb(100, 0, 0);
    color: aliceblue;
    font-style: italic;
}

.jogajog-num-isha{
    font-size: large;
    display: flex;
    
}

.button-work{
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;

}

.emergency-amb{
    align-items: center;
    justify-content: center;
    display: flex;
}

.medinova-call{
    align-items: center;
    justify-content: center;
    display: flex;
}

.populer-call{
    align-items: center;
    justify-content: center;
    display: flex;
}

.Narayanganj-Amb{
    align-items: center;
    justify-content: center;
    display: flex;
}

.modern-num{
    display: flex;
    align-items: center;
    justify-content: center;
}

.islam-num{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ambulance{
    background-color: bisque;
    color: #e00000;
    
}

.jahid-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-full{
    background-color: #610000;
    color: aliceblue;
    font-size: large;
}

.dewvog-jogajog{
    font-size: large;
}

.dewvog-num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.phone-dewvog{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}